body{
    margin: 0px;
    padding: 0px;

    background-color: whitesmoke;
}
#top-bar{
    background-color: rgb(67, 53, 122);
    margin: 0px;
    padding: 10px;
    color: white;
    position:relative;
    text-align: center;
}
h1{
    background-color: cornflowerblue;
    margin: 0px;
    padding: 10px;
    padding-left: 30px;;
    color:white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-family: sans-serif; 
    background-color: rgb(97, 132, 162);;
    color: white;
    padding: 8px;
}
.asset{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}
.asset img{
    width: 50%;
    height: 50%;
}
h2{
    text-align: center;
    font-size: 50px;
}
.info{
    
    padding: 5px;
    padding-left: 30px;
}